<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcom</title>
</head>
<body style="background-color:LightPink">
<h5>orem ipsum dolor sit amet, consectetur adipiscing elit.
    Curabitur tincidunt eget felis vitae interdum.
    Nam pharetra pellentesque ex, non malesuada tellus molestie ac.
    Donec pulvinar vulputate ligula quis volutpat. Nulla quam ligula, iaculis in semper vel,
    malesuada malesuada quam. Ut nec orci odio. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Sed at enim eget sapien lobortis hendrerit.
    Etiam porttitor pellentesque bibendum. Suspendisse eleifend sodales lobortis.
    Pellentesque vitae laoreet ligula, eget euismod quam.
    Aliquam in elit pretium dolor commodo egestas.
    Ut ullamcorper commodo iaculis. Curabitur vehicula eu mauris sed ornare.</h5>
</body>
</html>